body {
    background-color:rgb(76,190,231);
}
h1 {
        text-align: center;
        vertical-align: middle;
        color: gray;
        font-size:7vmin;
    }
 #windows {
        margin: 0 auto;
        background-color:rgb(139,126,102);
        z-index: -1;
        margin: 0px auto;
        margin-top:2%;
        border-radius: 5vmin;
        border:2vmin  solid rgb(139,126,102);
        width: 80vmin;
        height: 80vmin;
        position: fixed;
        top: 60vh;
        left: 50%;
        transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
    }
    div.part {
        text-align: center;
        vertical-align: central;
        background-color: rgb(255,238,147);
        z-index:2;
        margin:0 auto;
        margin:1vmin;
        text-align: center;
        vertical-align: central;
        width:18vmin;
        height:18vmin;
        line-height: 18vmin;
        float: left;
        text-align: center;
        border-radius:5vmin;
        font-size: 8vmin;
        font-weight:bold;
        }
    div.help { 
        position:absolute;
            left:50vw;
            top: 60vh;
            transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
        background-color: powderblue;
        overflow: auto;
       display:none;
        text-align: center;
        border:2px solid rgb(163,163,128);
        border-radius: 25px;
            width:60vmin;
            height:60vmin;
        }  
    p.helpText {
        text-indent: 2rem;
        font-family: AcadEref;
        line-height: 200%;
        padding:2vmin;
        font-size:2vmin;
    } 
    b {
        text-align: center;
        left: 50%;
        right: 50%;
        font-size:3vmin;
    }
    div.settings {
        background-color: powderblue;
        overflow: auto;
        display:none;
        text-align: center;
        border: 1px solid rgb(163,163,128);
        border-radius: 4px;
        margin:0 auto;
        width:50vmin;
        height:50vmin;
        text-align:center;
       border-radius:16px;
       position:absolute;
       top:60vh;
       left:50%;
          transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
        }
    div.score {
        background-color:powderblue;
        text-align: center;
        padding: 0px;
        color:rgb(13,23,64);
        font-weight:bolder;
        padding-top:0px;
       padding-left:1vmin;
        padding-right:1vmin;
        float: left;
        position: absolute;
        top: 2vmin;left:1vw;
        border-radius:2vmin;
        font-size:3vmin; 
        
    }
        div.score p:first-child {
            padding-top: 0;
        }
  
    div.maxScore {
       background-color: powderblue;
        text-align: center;
        padding:0;
        color:rgb(13,23,64);
        font-weight:bolder;
        padding-top:0px;
       padding-left:1vmin;
        padding-right:1vmin;
        float: left;
        position: absolute;
       top: 2vmin;left:12vw;
         border-radius:15%;
        border-radius:2vmin;
        font-size:3vmin; 
    }
    div.maxScore p:first-child {
            padding-top: 0px;
        }
     #extraSetting {
       text-align:center;
    }
         #roundNum {
      margin:0 auto;
        max-width:10vmin;
        max-height:14vmin;
        font-size:3vmin; 
     background-color: powderblue;
        text-align: center;
        color:rgb(13,23,64);
        font-weight:bolder;
        padding-top:0;
       padding-left:1vw;
        padding-right:1vw;
        position:absolute;
        right:1vmin;
        top:2vmin;
    } 
         #roundNum p:first-child {
            padding-top: 0;
        }
     #roundTime{
       position:absolute;
       top:2vmin;
        right:12vw;
        max-width:15vmin;
        max-height:14vmin;
        font-size:3vmin; 
     background-color:powderblue;
        text-align: center;
        color:rgb(13,23,64);
        font-weight:bolder;
        padding-top:0;
       padding-left:1vw;
        padding-right:1vw;
    }   
     #roundTime p:first-child {
            padding-top: 0;
        }
     #gameTime{
       position:absolute;
       top:2vmin;
        right:25vw;
         max-width:15vmin;
        max-height:14vmin;
        font-size:3vmin; 
     background-color: powderblue;
        text-align: center;
        color:rgb(13,23,64);
        font-weight:bolder;
        padding-top:0;
       padding-left:1vw;
        padding-right:1vw;
    }
        #gameTime p:first-child {
            padding-top: 0px;
        }
    form.settings {
        border: none;
    }
.hint {
    position: absolute;
    top: 19vmin;
    left: 50%;
     transform:translate(180%,0);
    -o-transform:translate(180%,0);
    -moz-transform:translate(180%,0);
    -webkit-transform:translate(180%,0);
}
.playway {
    position: absolute;
    top: 19vmin;
    left: 50%;
    transform: translate(-200%,0);
    -o-transform: translate(-200%,0);
    -moz-transform: translate(-200%,0);
    -webkit-transform: translate(-200%,0);
}
 a {
        text-decoration: none;
        background-color:cadetblue;
       font-size: 5vmin;
       padding: 2vmin;
        color: white;
        border-radius: 2vmin;
        cursor: pointer;
       margin: 2vmin 2vmin; 
    }
      a:link {
            color: rgb(226,219,190);
            background-color: white;
            border: 1px solid rgb(226,219,190);
        }

        a:hover {
            color: rgb(255,238,147);
            background-color: white;
            border: 1px solid rgb(226,219,190);
        }
#setStartPause {
    margin-top: 2vmin;
    padding:1vmin;
    font-size:10px;
    background-color:cadetblue;
}
    button {
        background: cadetblue;
        font-size: 5vmin;
        padding: 2vmin;
        color: white;
        border-radius:2vmin;
        border: none;
    }

        button:link {
            color: rgb(255,238,147);
            background-color: white;
            border: 1px solid rgb(255,238,147);
        }

        button:hover {
            color: rgb(255,238,147);
            background-color: white;
            border: 1px solid rgb(255,238,147);
        }

    p.formTitle {
        font-size: 4vmin;
    }
   
div.button {
    margin-top: 1vmin;
}
 
.finish1{
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
  display:none;
    z-index:10;   
}
.finish2{
    position:absolute;
     top:70%;
    left:50%;
    transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
  display:none;
    z-index:10;
   
}
  .excellent{
        width:40vmin;
        height:40vmin;
        position:absolute;
   top:50vh;
    left:50vw;
    transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
  display:none;
 
}
    .fault{
       width:40vmin;
        height:40vmin;
        position:absolute;
   top:50vh;
    left:50vw;
    transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
  display:none;
}
    /*设置range的样式*/
    input[type="range"] {
    -webkit-appearance: none; /*去除默认样式*/
    margin-top: 4.2vmin;
    background-color: lightgreen;
    /*border-radius: 15px;*/
    width: 20vmin !important;
   -webkit-appearance: none;
    height:0.5vmin;
   padding: 0;
   border: none;
  outline:none;
   /*input的长度为80%，margin-left的长度为10%*/
 }
        input[type="range"].backgroundMusicValue {
            width: 2vw !important;
        }
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;/*去除默认样式*/
   cursor: default;
   top: 0;
  height: 4vmin;
   width: 4vmin;
   transform: translateY(0px);
  /*background: none repeat scroll 0 0 #5891f5;*/
   background: white;
   border-radius: 4vmin;
   border:1vmin solid lightgreen;
   /*-webkit-box-shadow: 0 -1px 1px #fc7701 inset;*/
 }
#setStartPause {
    font-size:2vmin;
    background-color:cadetblue;
}
p.formTitle {
    font-size:4vmin;
}
     div.starts {
            text-align: center;
            margin: 2vmin;
        }
        .start {
             margin:2vmin;
              position:absolute;
               top: 19vmin;
              left: 50%;
        }
button.setting {
    position: absolute;
    top: 21vmin;
    left: 50%;
    transform: translate(-100%,0);
    -o-transform: translate(-100%,0);
    -moz-transform: translate(-100%,0);
    -webkit-transform: translate(-100%,0);
}
        .enter {
            position: absolute;
            top: 15%;
            right: 2%;
        }

        #form {
            width: 25%;
            height: 30vw;
            }
@media ( orientation: landscape ) { /*横屏*/
      #windows {
        width: 60vmin;
        height: 60vmin;
        position: absolute;
        top: 60vh;
        left: 50%;
        transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
    }
      div.part {
        width:14vmin;
        height:14vmin;
        line-height: 14vmin;
        float: left;
        text-align: center;
        border-radius:3vmin;
        font-size: 6vmin;
        font-weight:bold;
         margin:0.5vmin;
        }
    .excellent {
        width: 40vmin;
        height: 40vmin;
          position: absolute;
        top: 53%;
    }
    .fault {
        width: 40vmin;
        height: 40vmin;
         position: absolute;
        top: 53%;
    }
    .finish1 {
        position: absolute;
        top: 80%;
    }
    .finish2 {
        position: absolute;
        top: 80%;
    }
}